* {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 13px;
}
body {
   margin: 20px 40px;
}
.lyrics {
   max-width: 25%;
}
h1 {
   font-size: 30px;
   margin: 40px 0;
}
h2 {
   font-size: 16px;
   margin-bottom: 30px;
   font-style: italic;
}
footer {
   margin-top: 40px;
}
footer p {
   font-size: 10px;
   color: rgb(138, 138, 138);
}
